@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400&display=swap");
#bio-section #projects .projects-body .project .top a, #triangle-section, html, body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer a, .navbar-mobile a, nav .right-side .top-side a {
  outline: none;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Alegreya Sans", sans-serif;
  background-image: url("../assets/the-fog-4909513_1920.jpg");
  background-attachment: fixed;
  scroll-behavior: smooth;
}
@media screen and (max-width: 800px) {
  html, body {
    background-image: url("../assets/nature-4567502.jpg") !important;
    background-size: fill !important;
  }
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: background-color 0.7s, box-shadow 0.7s;
}
@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}
nav .left-side, nav .right-side {
  width: 50%;
  height: 100%;
}
nav .right-side {
  display: flex;
  flex-direction: column;
}
nav .right-side .top-side {
  width: 100%;
  height: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
nav .right-side .top-side a {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
nav .right-side .top-side a img {
  width: 23px;
  height: 23px;
}
nav .right-side .bottom-side {
  align-self: flex-end;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: width 0.5s linear;
}

.navbar-mobile {
  width: 100%;
  height: 70px;
  display: none !important;
  background-color: #232323;
}
@media screen and (max-width: 1000px) {
  .navbar-mobile {
    display: flex !important;
    justify-content: space-around;
    position: fixed;
  }
}
.navbar-mobile a {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .navbar-mobile a {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .navbar-mobile a {
    font-size: 10px;
    text-align: center;
  }
}

#title-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#title-section .left-side, #title-section .right-side {
  width: 50%;
  height: 100%;
}
#title-section .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title-section .left-side .top-box, #title-section .left-side .bottom-box {
  width: 100%;
  height: 50%;
}
#title-section .left-side .top-box {
  border-bottom: 0.1px solid #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
#title-section .left-side .top-box h1 {
  color: #fff;
  font-size: 50px;
  text-align: right;
  line-height: 0;
  font-weight: 300;
}
@media screen and (max-width: 800px) {
  #title-section .left-side .top-box h1 {
    font-size: 40px;
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  #title-section .left-side .top-box h1 {
    font-size: 30px;
    text-align: right;
  }
}
@media screen and (max-width: 500px) {
  #title-section .left-side .top-box h1 {
    font-size: 18px;
    text-align: right;
  }
}
#title-section .left-side .bottom-box p {
  color: #fff;
  font-size: 20px;
  text-align: right;
  font-weight: 100;
}
@media screen and (max-width: 800px) {
  #title-section .left-side .bottom-box p {
    font-size: 20px;
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  #title-section .left-side .bottom-box p {
    font-size: 15px;
    text-align: right;
  }
}
@media screen and (max-width: 500px) {
  #title-section .left-side .bottom-box p {
    font-size: 10px;
    text-align: right;
  }
}

#triangle-section {
  width: 100%;
  height: 309px;
  background-image: url("../assets/triangle.png");
  background-position: bottom;
  margin: 0;
  margin-bottom: -3px;
}

#bio-section {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
#bio-section section .title {
  font-size: 70px;
  text-align: center;
  letter-spacing: 20px;
  font-weight: 200;
}
@media screen and (max-width: 800px) {
  #bio-section section .title {
    font-size: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  #bio-section section .title {
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
  }
}
#bio-section section .title .experience-title {
  color: #6bafdc;
}
#bio-section section .title .bio-title {
  color: #ca1b1b;
}
#bio-section section .title .project-title {
  color: #cf9032;
}
#bio-section #experience {
  width: 65%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  #bio-section #experience {
    width: 70%;
    height: 70vh;
  }
}
@media screen and (max-width: 500px) {
  #bio-section #experience {
    width: 90%;
    height: 50vh;
  }
}
#bio-section #experience .experience-box {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#bio-section #experience .experience-box p {
  font-size: 80px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  #bio-section #experience .experience-box p {
    font-size: 45px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  #bio-section #experience .experience-box p {
    font-size: 25px;
    text-align: center;
  }
}
#bio-section #experience .experience-box p i {
  color: inherit;
  transition: color 0.7s;
}
#bio-section #experience .experience-box p:hover .fa-html5 {
  color: #e44d26;
}
#bio-section #experience .experience-box p:hover .fa-sass {
  color: #cf649a;
}
#bio-section #experience .experience-box p:hover .fa-js-square {
  color: #f7df1e;
}
#bio-section #experience .experience-box p:hover .fa-bootstrap {
  color: #563d7c;
}
#bio-section #experience .experience-box p:hover .fa-react {
  color: #00d8ff;
}
#bio-section #experience .experience-box p:hover .fa-angular {
  color: #dd0031;
}
#bio-section #experience .experience-box p:hover .fa-git-alt {
  color: #f05033;
}
#bio-section #bio {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  #bio-section #bio {
    width: 90%;
    height: 80vh;
  }
}
#bio-section #bio .bio-box {
  margin: 30px;
}
@media screen and (max-width: 800px) {
  #bio-section #bio .bio-box {
    margin: 5px;
  }
}
#bio-section #bio .bio-box p {
  margin: 40px;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  #bio-section #bio .bio-box p {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  #bio-section #bio .bio-box p {
    font-size: 13px;
    text-align: center;
  }
}
#bio-section #bio .bio-box p span {
  color: #ca1b1b;
  font-weight: 500;
}
#bio-section #projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#bio-section #projects p {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  margin: 20px;
  width: 90%;
  height: auto;
}
@media screen and (max-width: 1000px) {
  #bio-section #projects p {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  #bio-section #projects p {
    font-size: 13px;
    text-align: center;
  }
}
#bio-section #projects p span {
  font-weight: 300;
  color: #cf9032;
}
#bio-section #projects .projects-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: inherit;
  height: auto;
  flex-wrap: wrap;
  margin-top: 20px;
}
#bio-section #projects .projects-body .project {
  width: 400px;
  height: 400px;
  margin: 20px;
}
@media screen and (max-width: 500px) {
  #bio-section #projects .projects-body .project {
    width: 300px;
    height: 300px;
  }
}
#bio-section #projects .projects-body .project .top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#bio-section #projects .projects-body .project .top a {
  width: 100%;
  height: 100%;
  filter: none;
  transition: filter 0.5s;
}
#bio-section #projects .projects-body .project .top a:hover {
  filter: blur(1px);
}
#bio-section #projects .projects-body .project .top .sewer {
  background-image: url("../assets/sewer.PNG");
}
#bio-section #projects .projects-body .project .top .wagner {
  background-image: url("../assets/wagner.PNG");
}
#bio-section #projects .projects-body .project .top .rybka {
  background-image: url("../assets/rybka.PNG");
}
#bio-section #projects .projects-body .project .bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
#bio-section #projects .projects-body .project .bottom h2 {
  font-size: 30px;
  text-align: center;
  line-height: 0;
  font-weight: 200;
}
@media screen and (max-width: 500px) {
  #bio-section #projects .projects-body .project .bottom h2 {
    font-size: 18px;
    text-align: center;
  }
}
#bio-section #projects .projects-body .project .bottom p {
  font-weight: 300;
  color: #cf9032;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  footer {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  footer {
    width: 100%;
    height: 300px;
  }
}
footer h2 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-weight: 200;
}
@media screen and (max-width: 800px) {
  footer h2 {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  footer h2 {
    font-size: 30px;
    text-align: center;
  }
}
footer a {
  font-size: 30px;
  text-align: center;
  background-color: #3894dd;
  color: #fff;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 30px;
  transition: background-color 0.7s;
}
footer a:hover {
  background-color: #63b6fa;
}
@media screen and (max-width: 800px) {
  footer a {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  footer a {
    font-size: 18px;
    text-align: center;
  }
}
footer p {
  color: #fff;
  font-size: 10px;
}

.line-box {
  width: 100%;
  height: 2px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
@media screen and (max-width: 500px) {
  .line-box {
    margin: 5px;
  }
}
.line-box div {
  width: 0;
  height: 100%;
  transition: width 0.7s;
}
.line-box .first-left {
  background: linear-gradient(to left, #6bafdc, #ffffff);
}
.line-box .first-right {
  background: linear-gradient(to right, #6bafdc, #ffffff);
}
.line-box .second-left {
  background: linear-gradient(to left, #cf9032, #ffffff);
}
.line-box .second-right {
  background: linear-gradient(to right, #cf9032, #ffffff);
}
.line-box .third-left {
  background: linear-gradient(to left, #ca1b1b, #ffffff);
}
.line-box .third-right {
  background: linear-gradient(to right, #ca1b1b, #ffffff);
}

/*# sourceMappingURL=style.css.map */
