@import "mixins.scss";
@import "fonts.scss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url("../assets/the-fog-4909513_1920.jpg");
    @extend %backgroundMax;
    background-attachment: fixed;
}

nav {
    position: fixed;
    @include size(100%, 70px);
    @include flexMixin(center, center, row);
    transition: background-color 0.7s, box-shadow 0.7s;
    .left-side, .right-side {
        @include size(50%, 100%);
    }
    .right-side {
        display: flex;
        flex-direction: column;
        .top-side {
            @include size(100%, 99%);
            @include flexMixin(space-around, center, row);
            a {
                @include font(20px, center);
                @extend %normalizeButton;
                color: #fff;
                img {
                    @include size(23px, 23px);
                }
            }
        }
        .bottom-side {
            align-self: flex-end;
            @include size(100%, 1px);
            background-color: #fff;
            transition: width 0.5s linear;
            
        }
    }
}

#title-section {
    @include size(100%, 100vh);
    @include flexMixin(center, center, row);
    .left-side, .right-side {
        @include size(50%, 100%);
    }
    .left-side {
        @include flexMixin(center, center, column);
        .top-box, .bottom-box {
            @include size(100%, 50%);
        }
        .top-box {
            border-bottom: 0.1px solid #fff;
            @include flexMixin(flex-end, flex-end, column);
            h1 {
                color: #fff;
                @include font(50px, right);
                line-height: 0;
                font-weight: 300;
            }
        }
        .bottom-box {
            p {
                color: #fff;
                @include font(20px, right);
                font-weight: 100;
            }
        }
    }
}
#triangle-section {
    @include size(100%, 309px);
    background-image: url("../assets/triangle.png");
    @extend %backgroundMax;
    margin: 0;
}

#bio-section {
    @include size(100%, 100vh);
    margin-top: -3px;
    background-color: #fff;
}

