@import "mixins.scss";
@import "fonts.scss";

$firstcolor: #6bafdc;
$secondcolor: #cf9032;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url("../assets/the-fog-4909513_1920.jpg");
    @extend %backgroundMax;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    @include size(100%, 70px);
    @include flexMixin(center, center, row);
    transition: background-color 0.7s, box-shadow 0.7s;
    .left-side, .right-side {
        @include size(50%, 100%);
    }
    .right-side {
        display: flex;
        flex-direction: column;
        .top-side {
            @include size(100%, 99%);
            @include flexMixin(space-around, center, row);
            a {
                @include font(20px, center);
                @extend %normalizeButton;
                color: #fff;
                img {
                    @include size(23px, 23px);
                }
            }
        }
        .bottom-side {
            align-self: flex-end;
            @include size(100%, 1px);
            background-color: #fff;
            transition: width 0.5s linear;
            
        }
    }
}

#title-section {
    @include size(100%, 100vh);
    @include flexMixin(center, center, row);
    .left-side, .right-side {
        @include size(50%, 100%);
    }
    .left-side {
        @include flexMixin(center, center, column);
        .top-box, .bottom-box {
            @include size(100%, 50%);
        }
        .top-box {
            border-bottom: 0.1px solid #fff;
            @include flexMixin(flex-end, flex-end, column);
            h1 {
                color: #fff;
                @include font(50px, right);
                line-height: 0;
                font-weight: 300;
            }
        }
        .bottom-box {
            p {
                color: #fff;
                @include font(20px, right);
                font-weight: 100;
            }
        }
    }
}
#triangle-section {
    @include size(100%, 309px);
    background-image: url("../assets/triangle.png");
    @extend %backgroundMax;
    background-position: bottom;
    margin: 0;
    margin-bottom: -3px;
}

#bio-section {
    @include size(100%, auto);
    background-color: #fff;
    @include flexMixin(flex-start, center, column);
    padding: 50px 0;
    section {
        .title {
            @include font(70px, center);
            
            letter-spacing: 20px;
            font-weight: 200;
            .experience-title {
                color: $firstcolor;
            }
            .project-title {
                color: $secondcolor;
            }
        }
    }
    #experience {
        @include size(60%, 90vh);
        @include flexMixin(flex-start, center, column);
        .experience-box {
            @include size(100%, auto);
            @include flexMixin(space-around, center, row);
            p {
                @include font(80px, center);
                i {
                    color: inherit;
                    transition: color 0.7s;
                }
                &:hover {
                    .fa-html5 {
                        color: #e44d26;
                    }
                    .fa-sass {
                        color: #cf649a;
                    }
                    .fa-js-square {
                        color: #f7df1e;
                    }
                    .fa-bootstrap {
                        color: #563d7c;
                    }
                    .fa-react {
                        color: #00d8ff;
                    }
                    .fa-angular {
                        color: #dd0031;
                    }
                    .fa-git-alt {
                        color: #f05033;
                    }
                }
            }
        }
        .line-box {
            @include size(100%, 2px);
            display: flex;
            div {
                @include size(50%, 100%);
            }
            .left-line {
                background: linear-gradient(to left, $firstcolor, #ffffff);
            }
            .right-line {
                background: linear-gradient(to right, $firstcolor, #ffffff);
            }
        }
    }
    #projects {
        @include size(100%, 100vh);
        @include flexMixin(space-around, center, column);
        p {
            @include font(20px, center);
            font-weight: 200;
        }
        .projects-body {
            @include flexMixin(space-around, center, row);
            @include size(inherit, auto);
            flex-wrap: wrap;
            .project {
                @include size(25%, 500px);
                .top {
                    @include size(100%, 50%);
                    @include flexMixin(center, center, row);
                    a {
                        @include size(100%, 100%);
                        @extend %backgroundMax;
                        filter: none;
                        transition: filter 0.5s;
                        &:hover {
                            filter: blur(1px);
                        }
                    }

                    .sewer {
                        background-image: url('../assets/sewer.PNG');
                    }
                    .wagner {
                        background-image: url('../assets/wagner.PNG');
                        
                    }
                    
                    .rybka {
                        background-image: url('../assets/rybka.PNG');
                    }
                }
                .bottom {
                    @include size(100%, 50%);
                    @include flexMixin(flex-start, center, column);
                    margin-top: 20px;
                    h2 {
                        @include font(30px, center);
                        line-height: 0;
                        font-weight: 200;
                    }
                    p {
                        font-weight: 300;
                        color: $secondcolor;
                    }
                }
            }
        }
    }
}

